In [20]:
import pandas as pd

org_df = pd.read_csv('parse_tree.csv')
org_df

   head_token_idx   label      pos text  token_idx
0               1      NN     NOUN   주문          0
1               3    DOBJ  UNKNOWN   한지          1
2               3  ADVMOD      ADV    꽤          2
3               7   ADVCL     VERB  됐는데          3
4               3     PRT      PRT    요          4
5               7    DOBJ     NOUN   택배          5
6               7  ADVMOD     PRON   언제          6
7               7    ROOT     VERB   오나          7
8               7     PRT      PRT    요          8

In [21]:
l = [[7, 3, 1, 0], [7, 3, 2], [7, 3, 4], [7, 5], [7, 6], [7, 8]]

df = pd.DataFrame(l).fillna(-1)
df = df.astype(int)
display(df)

for ll in l:
    display(org_df.loc[ll])

   0  1  2  3
0  7  3  1  0
1  7  3  2 -1
2  7  3  4 -1
3  7  5 -1 -1
4  7  6 -1 -1
5  7  8 -1 -1

   head_token_idx  label      pos text  token_idx
7               7   ROOT     VERB   오나          7
3               7  ADVCL     VERB  됐는데          3
1               3   DOBJ  UNKNOWN   한지          1
0               1     NN     NOUN   주문          0

   head_token_idx   label   pos text  token_idx
7               7    ROOT  VERB   오나          7
3               7   ADVCL  VERB  됐는데          3
2               3  ADVMOD   ADV    꽤          2

   head_token_idx  label   pos text  token_idx
7               7   ROOT  VERB   오나          7
3               7  ADVCL  VERB  됐는데          3
4               3    PRT   PRT    요          4

   head_token_idx label   pos text  token_idx
7               7  ROOT  VERB   오나          7
5               7  DOBJ  NOUN   택배          5

   head_token_idx   label   pos text  token_idx
7               7    ROOT  VERB   오나          7
6               7  ADVMOD  PRON   언제          6

   head_token_idx label   pos text  token_idx
7               7  ROOT  VERB   오나          7
8               7   PRT   PRT    요          8

In [124]:
import numpy as np

def get_diff_position(df, idx1, idx2):
    diff_p = 0
    _, cols = df.shape
    
    for c_idx in range(cols-1, -1, -1): 
        if df[c_idx][idx1:idx1+1].values != df[c_idx][idx2:idx2+1].values:
            diff_p = c_idx
            
    return diff_p

rows, cols = df.shape
prev_dp = cols
for r_idx in range(rows):
    dp = get_diff_position(df, r_idx, r_idx+1)
    cul_cols = [i for i in range(dp,cols)]
    print("diff:",dp)
    
    t = df[cul_cols][r_idx:r_idx+1].values[0][::-1]
    t = t[np.where(t>-1)]
    print(t)
    print(org_df.loc[t])
    
    prev_dp = dp

diff: 2
[0 1]
   head_token_idx label      pos text  token_idx
0               1    NN     NOUN   주문          0
1               3  DOBJ  UNKNOWN   한지          1
diff: 2
[2]
   head_token_idx   label  pos text  token_idx
2               3  ADVMOD  ADV    꽤          2
diff: 1
[4 3]
   head_token_idx  label   pos text  token_idx
4               3    PRT   PRT    요          4
3               7  ADVCL  VERB  됐는데          3
diff: 1
[5]
   head_token_idx label   pos text  token_idx
5               7  DOBJ  NOUN   택배          5
diff: 1
[6]
   head_token_idx   label   pos text  token_idx
6               7  ADVMOD  PRON   언제          6
diff: 0
[8 7]
   head_token_idx label   pos text  token_idx
8               7   PRT   PRT    요          8
7               7  ROOT  VERB   오나          7