In [17]:
import pandas as pd

org_df = pd.read_csv('parse_tree.csv')
org_df

   head_token_idx   label   pos text  token_idx
0               1    DOBJ  NOUN   택배          0
1               3   ADVCL  VERB  보낸지          1
2               3  ADVMOD   ADV    꽤          2
3               4     DEP  VERB    된          3
4               5  ADVMOD  NOUN    거          4
5               7   ADVCL   ADJ  같은데          5
6               7  ADVMOD  PRON   언제          6
7               7    ROOT  VERB   오나          7
8               7     PRT   PRT    요          8

In [18]:
l = [[7, 5, 4, 3, 1, 0], [7, 5, 4, 3, 2], [7, 6], [7, 8]]

df = pd.DataFrame(l).fillna(-1)
df = df.astype(int)
display(df)

for ll in l:
    display(org_df.loc[ll])

   0  1  2  3  4  5
0  7  5  4  3  1  0
1  7  5  4  3  2 -1
2  7  6 -1 -1 -1 -1
3  7  8 -1 -1 -1 -1

   head_token_idx   label   pos text  token_idx
7               7    ROOT  VERB   오나          7
5               7   ADVCL   ADJ  같은데          5
4               5  ADVMOD  NOUN    거          4
3               4     DEP  VERB    된          3
1               3   ADVCL  VERB  보낸지          1
0               1    DOBJ  NOUN   택배          0

   head_token_idx   label   pos text  token_idx
7               7    ROOT  VERB   오나          7
5               7   ADVCL   ADJ  같은데          5
4               5  ADVMOD  NOUN    거          4
3               4     DEP  VERB    된          3
2               3  ADVMOD   ADV    꽤          2

   head_token_idx   label   pos text  token_idx
7               7    ROOT  VERB   오나          7
6               7  ADVMOD  PRON   언제          6

   head_token_idx label   pos text  token_idx
7               7  ROOT  VERB   오나          7
8               7   PRT   PRT    요          8

In [29]:
import numpy as np

def get_diff_position(df, idx1, idx2):
    diff_p = 0
    _, cols = df.shape
    
    for c_idx in range(cols-1, -1, -1): 
        if df[c_idx][idx1:idx1+1].values != df[c_idx][idx2:idx2+1].values:
            diff_p = c_idx
            
    return diff_p

def get_dependency(df, depth):
    backwards = False
    idxs = []
    for index, row in df.iterrows():
        if backwards:
            idxs += [row['token_idx']]
        else:
            idxs.append(row['token_idx'])
            
        backwards = True if row['pos'] in ['SUFF','PTR'] else False
        
        if row['label'] in ['DOBJ','NSUBJ']:
            es_dict['what']['depth'] = depth
            es_dict['what']['label'] = row['label']
            es_dict['what']['tokens'] = idxs[:]
        else if row['label'] in ['ADVCL']:
            es_dict['why']['depth'] = depth
            es_dict['why']['label'] = row['label']
            es_dict['why']['tokens'] = idxs[:]


rows, cols = df.shape
prev_dp = cols
es_dict = {
    "when":{
        'depth':None,
        'label':None
        'tokens':[]
    },
    "what":{
        'depth':None,
        'label':None
        'tokens':[]
    },
    "how":{
        'depth':None,
        'label':None,
        'tokens':[]
    },
    "why":{
        'depth':None,
        'label':None,
        'tokens':[]
    }
}

for r_idx in range(rows):
    dp = get_diff_position(df, r_idx, r_idx+1)
    cul_cols = [i for i in range(dp,cols)]
    print("diff:",dp)
    
    t = df[cul_cols][r_idx:r_idx+1].values[0][::-1]
    t = t[np.where(t>-1)]
    print(t)
    print(org_df.loc[t])
    get_dependency(org_df.loc[t], dp)
    
    prev_dp = dp
display(es_dict)

diff: 4
[0 1]
   head_token_idx  label   pos text  token_idx
0               1   DOBJ  NOUN   택배          0
1               3  ADVCL  VERB  보낸지          1
diff: 1
[2 3 4 5]
   head_token_idx   label   pos text  token_idx
2               3  ADVMOD   ADV    꽤          2
3               4     DEP  VERB    된          3
4               5  ADVMOD  NOUN    거          4
5               7   ADVCL   ADJ  같은데          5
diff: 1
[6]
   head_token_idx   label   pos text  token_idx
6               7  ADVMOD  PRON   언제          6
diff: 0
[8 7]
   head_token_idx label   pos text  token_idx
8               7   PRT   PRT    요          8
7               7  ROOT  VERB   오나          7

{'how': {'depth': None, 'tokens': []},
 'what': {'depth': 4, 'tokens': [0]},
 'when': {'depth': None, 'tokens': []},
 'why': {'depth': 1, 'tokens': [2, 3, 4, 5]}}