In [2]:
import pandas as pd

df = pd.read_csv('parse_tree.csv')
df

   Unnamed: 0  head_token_idx  label    pos text  token_idx
0           0               4  NSUBJ   NOUN   물건          0
1           1               0    PRT    PRT    이          1
2           2               4  ADVCL   NOUN   파손          2
3           3               2   SUFF  AFFIX   되서          3
4           4               6  ADVCL   VERB   와서          4
5           5               4    PRT    PRT    요          5
6           6               6   ROOT   NOUN   환불          6
7           7               6   SUFF  AFFIX   할께          7
8           8               6    PRT    PRT    요          8

In [9]:
df.loc[df['label'] == 'ROOT']['token_idx']

6    6
Name: token_idx, dtype: int64

In [14]:
a = df.loc[df['head_token_idx'] == 9]
a.shape

(0, 6)